.light {
  --background-color: #FFFFFF;
  --text-color: #000000;

  --button-text-color: #000000;
  --button-text-color-hover: #000000;
  --button-text-color-selected: #000000;
  --button-background-color: #EEEEEE;
  --button-background-color-hover: #FFFFFF;
  --button-background-color-selected: #87CEEB;
  --button-border-color: #87CEEB;
  --button-border-color-hover: #000000;
  --button-border-color-selected: #87CEEB;

  --block-background-color: #F5F5F5;
  --block-text-color: #6C757D;

  --header-background-color: #F8F9Fa;

  --shadow-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}
